[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "vortex"]
	path = vortex
	url = https://github.com/vortex-data/vortex.git
	branch = main
